.profile_button_add {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  right: 0;
  width: 150px;
  height: 50px;
  background-image: url("../../../images/Button_add.svg");
}

@media screen and (max-width: 650px) {
  .profile_button_add {
    margin-top: 36px;
    position: inherit;
    width: 282px;
    background-image: url("../../../images/Button_add_mobile.svg");
  }
}