.popup__content {
  margin: 195px auto;
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 660px) {
  .popup__content {
    margin: 123px auto;
    width: 282px;
  }
}