.popup__close {
<<<<<<< HEAD
  background-image: url("../../../images/Close_Icon.svg");
=======
  background-image: url("../../../images/Close\ Icon.svg");
>>>>>>> bf0f0a2e6008e0abb9f5b69b7cf040ffe203e6fe
  position: absolute;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
  background-color: transparent;
  border: 0;
  background-size: cover;
  cursor: pointer;
  transition: opacity 1s linear;
}

.popup__close:hover {
  opacity: 0.7;
}

@media screen and (max-width: 660px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}