.popup__close {
  background-image: url("../../../images/Close\ Icon.svg");
  position: absolute;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
  background-color: transparent;
  border: 0;
  background-size: cover;
}