.popup__form-input-error {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  width: 164px;
  height: 12px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}